@import './rest.css';
body{
  .avatar{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    transform: translate(50px, 50px);
  }
  .item{
    &:nth-of-type(n+1){
      background: blue;
      width: 500px;
    }
  }
}